<div class="container-fluid">
	<div class="row" id="accueil">
		<div class="col-md-12">
			<div class="col-md-6 pull-right">
				<h1 id="title-accueil">« Le football ce sont onze joueurs qui jouent ensemble comme s’il n’en n’étaient qu’un » <br> <br> – ARRIGO SACCHI </h1>
				<p id="paragraph-accueil">La définir revient en quelque sorte à la définir comme une réaction en chaîne dont l’origine, le principe fondateur est le mouvement. Cela commence par une science du jeu sans ballon et donc une volonté de se rendre toujours disponible pour ses partenaires. Ceci a pour effet de rendre une passe systématiquement facile et rapide. Cette économie de temps et de gestes permet de progresser de manière collective sur le terrain avec un rythme élevé pour dérouler les défenses adverses. Le tout propose visuellement une animation fluide et très rythmée principalement constituée de passes courtes a une ou deux touches de balle.


				</p>
			</div>
		</div>	
	</div>
</div>