<div class="container-fluid">
	<div class="row" id="profil">
		<div class="col-md-12">
			<div class="col-md-4 text-profil pull-left">
				<p><strong>Nom:</strong>TOURE</p>
				<p><strong>Prenom:</strong><span>ALIOUNE</span></p>
				<p><strong>Date de naissance:</strong><span>09/09/78</span></p>
				<p><strong>Nationalite</strong><span>FRANCAISE</span></p>
				<p><strong>Langues Parlees</strong><span>français, anglais, portuguais</span></p>
				<p><strong>Diplome</strong><span>UEFA A</span></p>
				<p><%= link_to 'Telecharger mon CV', 'https://instagram.com/Workshopr', target: '_blank' %></p>
			</div>
		</div>	
	</div>
</div>